<h1> <%= @patient.full_name %> </h1>
<hr>
<h2>Doctors</h2>
<ul>
<% @patient.doctors.each do |dr| %>
  <li><%= link_to dr.last_name, doctor_path(dr) %></li>
<% end %>
</ul>
<br />
<br />
<%= link_to "Delete Patient", patient_path(@patient), method: :delete, class: "ui red button inverted"%>
