<h1>Doctors</h1>
<%= link_to "Add Doctor", new_doctor_path %>
<hr>

<h3><%= @doctors.length <= 0 ? "No Doctors Available" : "" %></h3>
<ul>
<% @doctors.each do |doctor| %>
  <li><%= link_to doctor.last_name, doctor_path(doctor) %></li>
<% end %>
</ul>