<div class= "ui secondary menu">
  <%= link_to "View Doctors", doctors_path, class: "item" %>
  <%= link_to "Add Doctor", new_doctor_path, class: "item" %>
  <%= link_to "View Patients", patients_path, class: "item" %>
  <%= link_to "Add Patient", new_patient_path, class: "item" %>
</div>

